---
---

@import "variables";
@import "mixins";
@import "normalize";
@import "typography";
@import "highlights";

*, *:before, *:after { 
  @include box-sizing(border-box);
}

body {
  background: $color-green url("images/bg.png");
  color: #fff;
  font-family: $font-family-paragraph;
}

a {
  color: #fff;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

// Layout
.main-header {
  padding: 5rem 0;
  @extend %clearfix;

  @include breakpoint(xs) {
    padding: 1.25rem 0 2.5rem;
  }

  .is-single & {
    padding: 1rem 0;

    .container {
      padding-left: 0;
    }

    h1 {
      padding-top: 0;

      @include breakpoint(xs) {
        float: none;
      }
    }
  }

  .container {
    padding-left: 6rem;

    @include breakpoint(xs) {
      padding-left: 0;
    }
  }

  img {
    border-radius: 50px;
    float: left;
    margin-left: -6rem;

    @include breakpoint(xs) {
      float: none;
      margin-left: 0;
      margin-bottom: 1.25rem;
    }
  }

  h1 {
    padding-top: 0.5rem;
    text-shadow: 0 1px 0 black(0.3);
    color: #fff;
    @include all-caps-grotesque(1.5rem);

    @include breakpoint(xs) {
      padding-top: 0;
    }

    span {
      color: black(0.3);
      margin-left: 0.25rem;
      text-shadow: none;

      @include breakpoint(xs) {
        display: block;
        margin-left: 0;
      }
    }

    a {
      text-decoration: none;
    }
  }

  h3 {
    color: white(0.6);
  }
}

.main-footer {
  padding: 2.5rem 0;
  font-family: $font-family-heading;
  font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: black(0.3);

  @include breakpoint(xs) {
    padding: 1.25rem 0;
  }

  a {
    color: white(0.6);
    text-decoration: none;

    &:hover {
      color: white(0.8);
    }
  }
}

.container {
  width: 90%;
  max-width: 780px;
  margin: 0 auto;
}

.white {
  background-color: #fff;
  color: #484c50;

  .is-single & {
    padding: 2rem 0;
  }
}

.featured {
  background-color: $color-blue;

  .container {
    padding: 2rem 0;
    background: url("images/book.png") no-repeat 100% 50px;
  }
}

.timeline  {
  padding: 5rem 0 5rem 6rem;
  position: relative;
  
  &:before {
    content: "";
    display: block;
    width: 4px;
    position: absolute;
    top: 0;
    left: 45px;
    bottom: 0;
    background-color: #b8e9d8;

    @include breakpoint(xs) {
      display: none;
    }
  }

  @include breakpoint(xs) {
    padding: 2.5rem 0;
  }
}

/*
  Post module, either a simple title + meta or full post
*/
.post {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: $color-orange;
    box-shadow: 0 0 0 5px #fff;
    border-radius: 30px;
    position: absolute;
    left: -80px;
    top: 14px;
  }

  .is-single & {
    &:before {
      display: none;
    }
  }

  & + .post {
    margin-top: 2rem;
  }

  .post-title {
    line-height: 1.2;
    margin-bottom: 0.5rem;

    .is-single & {
      border-bottom: 2px solid #D8DFE1;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .post-meta {
    font-family: $font-family-heading;
    font-size: 0.7rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #b6c0ca;

    a {
      color: #b6c0ca;
      text-decoration: none;
    }
  }

  a {
    color: #2b3e50;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/*
  Main post content 
  All post typographical styles go here
*/
.post-entry {

  h4 {
    @include all-caps-grotesque(1.2rem);
    line-height: 1.2;
    color: $color-blue;
    margin: 3rem 0 1.5rem;
  }

  h6 {
    @include all-caps-grotesque(0.7rem);
    color: #9aa3ab;
    margin-top: 2rem;
  }

  p, li {
    line-height: 1.45;
  }

  ul, ol {
    margin: 1rem 0 1rem 1rem;
    padding: 0;
  }

  li + li {
    margin-top: 1rem;
  }

  a {
    color: $color-orange;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  small,
  .small {
    font-size: 80%;
    color: #9aa3ab;
  }

  img.left {
    margin-right: 1rem;
  }
}

/*
  Disqus container
*/
.post-comments {
  margin-top: 3rem;
}

/*
  Next/previous article navigation below each post
*/
.post-nav {
  margin-top: 2rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
  border-top: 2px solid #D8DFE1;
  line-height: 1.2;
  @extend %clearfix;

  a {
    @include bold-text(1.2rem);
  }
}

.post-nav__previous {
  width: 48%;
  float: left;
  text-align: right;

  @include breakpoint(xs) {
    float: none;
    width: 100%;
    text-align: left;
  }
}

.post-nav__next {
  width: 48%;
  float: right;

  @include breakpoint(xs) {
    float: none;
    width: 100%;
    margin-top: 1.5rem;
  }
}

// Utilities
.left   { float: left; }
.right  { float: right; }
.text-center { text-align: center; }
