/*-----------------------------*\
 * VARIABLES
\*-----------------------------*/

// Colour palette
$color-blue: #2b3e50;
$color-green: #16b980;
$color-orange: #e74c3c;
$color-grey: #ecf0f1;

$font-family-heading: "brandon-grotesque", sans-serif;
$font-family-paragraph: "brandon-text", sans-serif;

