---
layout: single
---

<section class="white">
  <div class="container">
    <article class="post">
      <div class="post-meta">{{ page.date | date: '%B %d, %Y' }}</div> <!-- &middot; <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" class="disqus-comment-count">tralala</a> -->
      <h1 class="post-title">{{ page.title }}</h1>

      <div class="post-entry">
        {{ content }}
      </div>

      {% include disqus.html disqus_identifier=page.disqus_identifier %}
    </article>
  </div>
</section>
